{{ define "main" }}
<main class="main list dfp" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}

  {{- $kids := .Pages }}
  {{- if gt (len $kids) 0 }}
  <h1 class="widget__title">Contents</h1>
  <ul class="widget__list">
  {{- range $name := $kids }}
    <li class="widget__item">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  {{- end }}
  </ul>
  {{- end }}

</main>
{{ partial "pagination.html" . }}
{{ end }}
