<ul>
	<li>The Pantry is located at <a href="https://maps.app.goo.gl/TsfNto11XW5p3oYS6">600 Washington Street</a> on the north end of the Dedham Plaza (the end with Planet Fitness in the front and Play it Again Sports in the back)</li>
	<li>Phone/Text: <a href="tel:+17812691541">(781)269-1541</a></li>
	<li><a href="mailto:manager@dedhamfoodpantry.org">manager@dedhamfoodpantry.org</a></li>
	<li><b>Mailing address</b> (to mail checks/correspondence):<br/>
Dedham Food Pantry<br/>
P.O. Box 46<br>
Dedham, MA 02027</li>
</ul>
